html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body {
    background-color: #cccccc;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
table {
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
thead {
    position: sticky;
    top: 0;
}
th {
    background-color: #cccccc;
    border: none;
    color: #000000;
    font-weight: normal;
    padding: 4px 6px;
}
th.title {
    border: none;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}
th.tabs {
    border: none;
    padding: 0px;
}
th.period {
    background-color: #ffffff;
    border: 1px solid #666666;
}
th.column {
    background-color: #ffffff;
    border: 1px solid #666666;
    border-left: none;
}
th.cg1, th.cg2, th.cg3, th.cg4, th.cg5 {
    background-color: #ffffff;
    border: 1px solid #666666;
    border-left: none;
    font-size: 10pt;
}
td, td.cg1, td.cg2, td.cg3, td.cg4, td.cg5 {
    background-color: #cccccc;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    color: #000000;
    font-weight: normal;
    text-align: right;
    padding: 5px 4px 3px 8px;
}
td.period {
    border-left: 1px solid #666666;
    text-align: left;
    white-space: nowrap;
}
div.tabs {
    border: none;
    height: 28px;
    margin: 0px;
    padding: 0px;
}
div.tab {
    background-color: #ffffff;
    border: 2px solid #666666;
    border-bottom: none;
    border-radius: 16px 16px 0px 0px;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    margin: 0px;
    padding: 0px 12px 0px 12px;
}
div.tabspacer {
    border: none;
    float: left;
    margin: 0px;
    padding: 8px;
}
select.tab {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    margin: 0px;
    outline: none;
    padding: 0px;
}
